Repository shayan-golafshani/rancid-tomatillos, pull requests merged in 2021-07, with the labels that each got.

#26 Add error handling for failed details fetch
  src/components/Details/Details.js
Labels: iteration 3

#27 Fix/youtube display css
  src/components/Details/Details.css
  src/components/Details/Details.js
  src/components/Loading/Loading.css
  src/components/Loading/Loading.js
  src/components/MovieTrailer/MovieTrailer.css
  src/components/MovieTrailer/MovieTrailer.js
Labels: css, error-handling, iteration 3

#32 Feature/cypress testing
  cypress.json
  cypress/fixtures/movieData.json
  cypress/fixtures/movieDetailsData.json
  cypress/fixtures/youtubeVideo.json
  cypress/integration/details_spec.js
  cypress/integration/movies_dashboard_spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/components/App/App.js
  src/components/Details/Details.js
  src/components/Error/Error.css
  src/components/Error/Error.js
  src/components/Loading/Loading.js
  src/components/MovieCard/MovieCard.js
  src/components/Movies/Movies.js
Labels: Cypress, iteration 4

#33 Add route handling for non-existent paths
  src/components/App/App.js
  src/components/Details/Details.js
  src/components/Error/Error.js
Labels: bug, enhancement, error-handling, iteration 4

#42 Feature/live search bar
  src/components/App/App.css
  src/components/App/App.js
Labels: CYOA

#43 Feature/prop types
  src/components/App/App.js
  src/components/Details/Details.js
  src/components/Error/Error.js
  src/components/MovieCard/MovieCard.js
  src/components/MovieTrailer/MovieTrailer.js
  src/components/Movies/Movies.js
  src/index.js
Labels: enhancement

#44 Code cleanup
  cypress/integration/details_spec.js
  cypress/integration/movies_dashboard_spec.js
  src/apiCalls.js
  src/components/App/App.css
  src/components/Details/Details.js
  src/components/Error/Error.js
  src/components/Loading/Loading.js
  src/components/MovieTrailer/MovieTrailer.css
  src/components/MovieTrailer/MovieTrailer.js
Labels: refactor

#45 Refactor/cypress
  cypress/integration/details_spec.js
  cypress/integration/movies_dashboard_spec.js
Labels: Cypress
